<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.techno.baihai">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />



    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.myapp.mobile.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WIFI" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:extractNativeLibs="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_appnew"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_appnew"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.techno.baihai.activity.MyPaymentHistoryActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.activity.RewardPointsActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.activity.ProductDonateActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.activity.DriverInfoActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.GoogleMap.GoogleMapActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.activity.UpdateProductActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.activity.RatingActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.activity.PinLocationActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar" />
        <activity
            android:name="com.techno.baihai.activity.DonateToFoundationFragment"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.fragment.PersonalDonateFragment"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.fragment.DeliveryFragment"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.activity.StripePaymentActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.activity.CategoryProductActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.activity.MyProductListActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.activity.YourFoundations"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.activity.ChangePasswordActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.activity.SignUpActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.activity.ChattingBotActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.activity.SubscribeFoundationActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.activity.SettingActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.activity.AboutUsActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.activity.AccountActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.activity.EditAccountActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.activity.SupportActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.activity.ThankyouActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.activity.ThankyouPointActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.activity.HomeActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.activity.LoginActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.techno.baihai.activity.SplashActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- _____________________________google_________________________________________________________ -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/MAP_API_KEY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- _____________________________facebook_________________________________________________________ -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/fb_login_protocol_scheme"
                    tools:ignore="ManifestResource" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />


        <!-- Facebook Share -->
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider{@string/facebook_app_id}"
            android:exported="true" />
        <!-- Facebook Share -->

        <!-- _____________________________________firebase_service_________________________________________________ -->


        <service
            android:name="com.techno.baihai.MyFirebaseMessagingService"
            android:directBootAware="true"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/bye_hi_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorGreen" />


        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
   See README(https://goo.gl/l4GJaQ) for more. -->

        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <!-- ________________________________file picker______________________________________________________ -->

        <!--<provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.tech.baihai.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.techno.baihai.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>

    </application>

</manifest>